html {
  background-color: aliceblue;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
    margin: 10px;
    font-size: 25px;
}
#btnNav {
    border: transparent;
    border-radius: 5px;
    font-size: 25px;
    margin: 10px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#buttonContainer {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 20px;
    padding-bottom: 20px;
}

h1 {
    display: flex;
    justify-content: center;
}
input {
    font-size: 25px;
}

.add {
    background-color: #cd79e0;
    border-width: 0px;
    padding-inline: 15px;
    padding-block: 5px;
    border-radius: 10px;
}

#btn {
    margin-block: 0px;
    font-size: 15px;
    display: inline-block;
    margin-block: 5px;
}

.add:hover {
    background-color: #c426e9;
}